p {
  color: white;
}

.bg-img-1 {
  animation-name: bg-anim-1;
  animation-duration: 40s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.bg-img-2 {
  animation-name: bg-anim-2;
  animation-duration: 40s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.bg-img-3 {
  animation-name: bg-anim-3;
  animation-duration: 40s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.bg-img-4 {
  animation-name: bg-anim-4;
  animation-duration: 40s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes bg-anim-1 {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bg-anim-2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes bg-anim-3 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes bg-anim-4 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.play {
  position: relative;
  left: 3px;
}

.progressBar {
  --bar-bg: rgb(255, 255, 255);
  --seek-before-width: 0;
  --seek-before-color: rgb(115, 115, 115);
  --thumb-color: rgb(255, 255, 255);
  --grabbed-thumb-color: rgb(101, 67, 255);

  appearance: none;
  background: var(--bar-bg);
  border-radius: 1px;
  position: relative;
  width: 100%;
  height: 2px;
  outline: none;
}

/* progress bar - safari */
.progressBar::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  background: var(--bar-bg);
  border-radius: 1px;
  position: relative;
  outline: none;
}

/* progress bar - firefox */
.progressBar::-moz-range-track {
  width: 100%;
  height: 2px;
  background: var(--bar-bg);
  border-radius: 1px;
  position: relative;
  outline: none;
}

.progressBar::-moz-focus-outer {
  border: 0;
}

/* progress bar seek before - chrome and safari */
.progressBar::before {
  content: "";
  width: var(--seek-before-width);
  height: 100%;
  background: var(--seek-before-color);
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

/* progress bar seek before - firefox */
.progressBar::-moz-range-progress {
  background-color: var(--seek-before-color);
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  height: 100%;
}

/* thumb - chrome and safari */
.progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  background-color: var(--thumb-color);
  cursor: pointer;
  position: relative;
  z-index: 3;
  margin: -6px 0 0 0;
  box-sizing: border-box;
}

/* thumb while dragging - chrome and safari */
.progressBar::-webkit-slider-thumb:hover {
  background-color: var(--grabbed-thumb-color);
  transform: scale(1.2);
}

/* thumb - firefox */
.progressBar::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: transparent;
  background-color: var(--thumb-color);
  cursor: pointer;
  position: relative;
  z-index: 3;
  box-sizing: border-box;
} 

/* thumb while dragging - firefox */
.progressBar::-moz-range-thumb:hover {
  background-color: var(--grabbed-thumb-color);
  transform: scale(1.2);
}

